.Login {
  padding-top: 100px;

  .login-box {
    border: 1px solid #ccc;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
    transition: background-color .3s;
    border-radius: 3px;

    &:hover {
      background: rgba(220, 220, 220, .1);
    }

    .title {
      font-size: 30px;
      margin: 50px 0;
      text-align: center;
    }

    .login-form {
      padding: 0 20px;

      .no-password {
        display: flex;
        flex-direction: row;

        .button-no-password {
          flex: 1;
        }
      }
    }
  }
}