.Game{
  .banner {
    height: 200px;
    .img-list{
      width: 100%;

    }
  }
  .content-box {
    margin: 20px 0;
    .card-list {
      width: 200px;
      .meta {

        .ant-card-meta-description{
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 100%;
        }
      }
    }
  }
}